body {
  margin: 0px;
}

.header {
    background: url("/china-landscape.jpg") no-repeat center;
    height: 35%;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content {
    background-color: #801800;
    height: 100%;
}

.links {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 96%;
    border-radius: 1%;
    overflow-y: scroll;
    margin-top: 1%;
    margin-bottom: 1%;
    position: absolute;
}

a {
    margin-left: 3%;
    margin-top: 3%;
    display: inline-block;
}

p {
    margin-left: 3%;
    font-weight: bolder;
}

li {
  margin-left: 6%;
}

.back {
  float: left;
  background: url("/poppins.png") no-repeat center;
  background-size: contain;
  height: 20%;
  width: 10%;    
}

.back:hover {
   cursor: pointer;
}
