body {
  background: url("/mary.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
}

.content {
    height: 60%;
    width: 25%;
    margin-top: 10%;
    margin-left: 4%;
    border-radius: 3%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
