body {
   background: url("/japanese-new-logo.jpg") no-repeat center center fixed;
   /*background-repeat: no-repeat;
   background-attachment: fixed;*/
   background-size: cover;
   margin: 0px;
}

#option {
   background-color: #ffffff69;
    height: 6.25%;
    width: 35%;
    margin-left: auto;
    text-align: center;
    font-weight: 900;
    vertical-align: middle;
    font-size: larger;
}
