body {
   background: url("/japanese-new-logo.jpg") no-repeat center center fixed;
   /*background-repeat: no-repeat;
   background-attachment: fixed;*/
   background-size: cover;
   margin: 0px;
}

.content div {
   background-color: #f8f8f894;
    width: 23%;
    height: 17%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 2%;
    display: flex;
    border-radius: 15%;
}
